.works-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-right: 300px;
}

.works-form__heading, .works-form__input {
  margin-bottom: 20px;
}

.works-form__file {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 70px;
}

.works-form__error {
  position: absolute;
  bottom: 50px;
  color: red;
  width: 400px;
}

.works-form__preview {
  position: absolute;
  bottom: 45px;
  height: 50px;
}

.works-form__file-img {
  margin-right: 10px;
}

.works-form__file-input {
  display: none;
}

.works-form__file-text {
  font-weight: 400;
  color: $green;
}