.skill-list {
  min-width: 250px;
  width: 20%;
  margin-bottom: 20px;
  margin-right: 45px;
}

.skill-list__title {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.skill-list__content {
  padding-left: 15px;
}

.skill-list__inner {
  margin-bottom: 25px;
}
