.skill-list {
  min-width: 250px;
  width: 20%;
  margin-bottom: 25px;
  margin-right: 45px;
}

.skill-list__title {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.skill-list__content {
  padding-left: 15px;
}

.skill-list__inner{
  margin-bottom: 25px;
}

.add-skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.add-skill__input {
  width: 120px;
}