//variables

$green: #00bfa5;
$beige: #f0efe9;

// mixins

@mixin roboto($style: regular) {
  @if $style == medium {
    font-weight: 500;
  }
}

//functions

@function svg($url, $color) {
  $base-color: str-slice(inspect($color), 2);
  @return unquote('url("' + $url + '?fill=%23' + $base-color +'")');
}

//media

@mixin hugeScreen {
  @media (min-width: 1300px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin smallTablet {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: 480px) {
    @content;
  }
}
